@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchoolManagementCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#0A2A66;">
      
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">SchoolManagementCore</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <ul class="navbar nav ml-auto">
                        @if (signInManager.IsSignedIn(User))
                        {
                            
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <button type="submit" style="width:auto" class="nav-link btn btn-link py=0">
                                        @User.Identity.Name Logout
                                    </button>
                                </form>
                            </li>
                        }


                        @*<li class="nav-item">
        <a class="nav-link" asp-controller="Administrator" asp-action="Logout">Logout</a>
        </li>*@
                    </ul>






                    <ul class="navbar-nav">

                        @if (signInManager.IsSignedIn(User) && ((User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))))
                        {

                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownLink">
                                <a class="dropdown-item" asp-controller="Administrator" asp-action="ListOfUsers">Users</a>
                                <a class="dropdown-item" asp-controller="Administrator" asp-action="ListOfRoles">Roles</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Course" asp-action="CourseList">Course List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Student" asp-action="Index">Student List</a>
                        </li>
                        <li>
                            <a href="/Fee/Index" class="nav-link text-white">CourseFee</a>
                        </li>
                        <li>
                            <a href="/StudentInfo/Index" class="nav-link text-white">StudentInfo</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        @*<partial name="_CookieConsentPartial" />*@
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
