
@{
    ViewBag.Title = "Index";
}

<h3>Project Summary on School Management</h3>
<div class="container">
    <div class="row">
        <div class="col-sm-4" style="background-color:antiquewhite">
            <div class="card">
                <div class="card-body">
                    <ul>
                        <li><h5 class="card-title">Student Management Crud on View Model</h5></li>
                        <li><p class="card-text">RoleManagement Crud on Model</p></li>
                        <li><p class="card-text">Course Management Crud</p></li>
                        <li><p class="card-text">Show Student List with Ascending/Descending</p></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-4" style="background-color:palegreen">
            <div class="card">
                <div class="card-body">
                    <ul>
                        <li><h5 class="card-title">Register Login User</h5></li>
                        <li><p class="card-text">Create Role</p></li>
                        <li> <p class="card-text">Role wise Login provided from SuperAdmin</p></li>
                        <li><p class="card-text">Admin Role, Student Role, User Role</p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4" style="background-color:powderblue">
            <div class="card">
                <div class="card-body">
                    <ul>
                        <li><h5 class="card-title"> Use Data Annotation On Student CreateViewModel</h5></li>
                        <li><p class="card-text">CustomAttribute on DateObBirth</p></li>
                        <li><p class="card-text">Use interfaces and Repository</p></li>
                        <li><p class="card-text"></p>Partial View on Student Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @*<div class="col-sm-12">*@
        <img src="~/Images/School.png" style="max-width:1170px; height:auto" />
        @*</div>*@

    </div>
</div>


