
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AccessDenied</h1>
<div class="text-center">
    <h2 class="text-danger">Access Denied</h2>
    <h6 class="text-danger">You do not have permission to view this resource!!!</h6>
    <img src="~/Images/NoAccess.png" style="width:300px; height:300px" />
</div>

